body {
    font-size: 24px;
}
.red {
    color: red;
}
.green {
    color: green;
}
li.green {
    color: green;
}
ol li.red {
    color: red;
}
ol li.blue {
    color: blue;
}
p.italic {
    font-weight: italic;
}
p.bold {
    font-style: bold;
}