body {
    font-size: 24px;
}
p.red {
    color: red
}
p.red {
    color: red;
}
p.bold {
    font-style: bold;
}
p.bold {
    font-weight: bold;
}

li.pink {
    color: pink
}
li.yellow {
    color: rgb(206, 236, 32)
}
li.red {
    color: red;
}
li.green {
    color: green;
}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}